# ===============================
# Python / VS Code
# ===============================
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.vscode/

# ===============================
# Virtual environments
# ===============================
penv/
venv/
.env/


# ===============================
# OS / system junk
# ===============================
.DS_Store
Thumbs.db
desktop.ini

# ===============================
# Jupyter / IPython internals
# ===============================
ipykernel_launcher.py
disutils-precedence.pth
